@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

@* the fun starts here *@

<ul>
@foreach (var item in Umbraco.ContentAtRoot())
{
	<li><a href="@item.Url()">@item.Name</a></li>
}
</ul>
<hr>

@RenderBody()